@import '_fonts';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
body {
  @apply text-offblack;

  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
ul {
  @apply mb-4;
}
